{% extends "base.html" %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="alert alert-warning">
          <h3>404 – Page Not Found</h3>
          <p class="mb-4">This page has been moved to the new application.</p>
          <a class="btn btn-primary btn-lg" href="http://52.76.33.217:5173/" target="_self">Go back</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

