.kpi h6 {
  margin: 0 0 0.5rem 0;
  color: #6c757d;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: left;
}

.kpi .num {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  margin: 0.5rem 0;
  text-align: left;
}

.cell-link {
  color: inherit;
  text-decoration: none;
}

.cell-link:hover {
  text-decoration: underline;
}

